* { box-sizing: border-box;} 
 body {background-color: #FFFFFF; 
  font-family:Verdana; 
  color: #666666;
  background-image: linear-gradient(to bottom, #EEEEEE, #ffffff);
  background-attachment: fixed;
}
    header {
      background: #003058; font-family: Georgia; color: #FFFFFF;
      grid-row: 1 / 2;
      grid-column: 2 / -2;
    }
    header a {
      color:white;
      text-decoration: none;
    }
    h1 {
       line-height: 140%; padding: .5rem;
       background-image: url(utahtechimages/utahtechlogo.svg);
       background-position: right;
       Background-repeat: no-repeat;
       Padding-left: 1rem;
       background-origin: content-box; 
       margin-bottom:0;
       
    }
    nav {
      font-weight: bold;
      background-color: #424242;
      padding: 0;
      margin: 0;
      position: sticky;
      top: 0;
      grid-row: 2 / 3;
      grid-column: 2 / -2;
    }
    nav a:hover{
      background-color: #BA1C21;
    }
    nav ul li {
      width: 100%;
    }
    h2 {color: #424242; font-family: Georgia, 'Times New Roman', Times, serif;}
    dt { color: #003058 ; font-weight: bold}
    .ut { color: #BA1C21 ; font-weight: bold }
     footer { 
      font-size: .70rem ; text-align: center;
      padding: 1rem;
      grid-row: 5/ 6;
      grid-column: 2/ -2;
    }
     #wrapper { 
      width: 80% ; 
      margin-right: auto ; 
      margin-left: auto; 
       
     }
    #homehero{ 
       Background-image: url("utahtechimages/homehero.jpg");
       height: 300px;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat; 
      }
    #wrapper{
      display:grid;
      grid-auto-rows: minmax(0, auto);
      grid-template-columns:minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

    }
    h3 { color: #003058; }
    main {
      padding-left: 2rem;
      padding-right: 2rem;
      grid-row: 4/ 5;
      grid-column: 2/ -2;
    }
    #studenthero{ 
       background-image: url("utahtechimages/studenthero.jpg");
       height: 300px;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
    }
    #facultyhero{ 
       background-image: url("utahtechimages/facultyhero.jpg");
       height: 300px;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
      }
    nav a { 
      text-decoration: none; 
      color:#FFFFFF;
      padding: 1rem 0rem;
      display: block;
      text-align:center 
    }
    main img{
      float:right;
      padding-left: 2rem;
    }
    nav ul{
      margin:0;
      padding:0;
      display:flex;
      flex-flow: row nowrap;
      list-style-type: none;
    }
    #homehero, #studenthero, #facultyhero {
      grid-row: 3 /4;
      grid-column: 2/ -2;
    }