#wrapper{
    display: grid
    ;grid-auto-rows: minmax(0, auto);
    grid-template-columns:minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}
header{
    height: auto;
    grid-row: 1/2; 
    grid-column: 2/-2;
    background-color:white
}

header h1{
    text-align: center;
}
#logo{
    background-image: url(images/LOGOSMM.jpg);
    
    background-size: cover;
    background-position: center;
    grid-row:2/3 ;
    grid-column:2/3 ;
    position: sticky;
    top: 0;
    background-color: pink;
}
nav {
    height: auto;
    grid-row: 2/3; 
    grid-column: 3/-2;
    background-color: pink;
    position: sticky;
    top: 0;
}
nav ul{
      margin:0;
      padding:0;
      display:flex;
      flex-flow: row nowrap;
      list-style-type: none;
}
nav a { 
    text-decoration: none; 
    color: black;
    padding: 1rem 0rem;
    display:block;
    text-align: center
}
nav a:hover {
    background-color: white;
}
nav ul li{
    width: 100%;
}
#hero, #clairo, #cafe, #toys{
    background-image: url(macha-spoon.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
#hero h2 {
    margin: auto;
    margin: 200px;
    margin-top: 100px;
    margin-left: 75px;
    color: white;
    font-size: 4rem;
}
#toys{
    background-image: url(images/timo-struker-skeqKWgZq8E-unsplash.jpg);
}
#clairo {
    background-image:url(images/clairo.jpg);
}
#cafe {
    background-image: url(images/pexels-d-ng-nhan-324384-12570668.jpg);
}
.information {
    height:100px;
    background-color: pink;
    grid-row: 7/8;
    grid-column: 2/-2;
  
}


main{
    grid-row: 4 /5;
    grid-column: 2 /-2;
    height: auto;
    background-color: white;
    color: black;
    padding:40px;
    font-size: larger;
}
main p{
    padding-left: 20px;
    padding-right: 20px;
}
main h1{
    color: black;
}
main img{
    height: 500px;
    padding: 10px 10px 10px;
    padding-left: 0px;
}
.musiccontainer img{ /* doesnt work */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;;
    height:auto;
    align-self: center;
    margin:auto;
    width: 300px;
    flex-direction: row;
    
    
}
.musiccontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    text-align: center;
    vertical-align: middle;
}
tr:nth-child(1) th:nth-child(2) img {
    width: auto;
    height: 530px;
}
table tr td{
    font-size: x-large;
}
.imagecontainer table {
    text-align: center;
   margin: auto;
   font-size: xx-large;
   border: 5px solid black;
}
body{
    background-image: linear-gradient(to bottom, white, darkseagreen  );
}
.flexcontainer {
    display:flex;
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    background-color: pink;
    align-content: center;
    flex-direction:row;
    margin: auto;
    width:970px;
    align-items: center;
    gap:10px;

}
.flexcontainer .flexbox img {
    width: 200px;
    height: 200px;

}
.flexbox img {
    margin-left: 29px;
    padding-top: 30px;
}
.textcontainer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;
    background-color: white;
    color: black;
    font-family:'Times New Roman', Times, serif;
    padding: 40px 40px 40px;
    align-self: center;
    flex-direction: column;
    width: 970px;
    flex-flow: center;
    align-items: center;
    
}
.flexbox {
    background-color: white;
    display: flex;
    align-content:center;
    flex-direction: column;
    padding-left:30px;
    padding-right: 5px;
    height: 480px;
    width: 280px;
   
   
}
.flexbox h3 {
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: pink;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:10px;
    padding-right: 30px;
    margin-right: 95px;
    color:white;
    margin-left: 55px;
    width: 100px;
}
.gallerycontainer {
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
    align-items: stretch;
    height: auto;
    align-self: center;
    margin:auto;
}
.gallerycontainer img{
    height:300px;
    margin-top: 10px;

}
.porkcontainer img{
    width: 975px;
    height: auto;

}
@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px,1fr) repeat (6, minmax(0,175px))minmax(0px,1fr);
    }
   
}
@media only screen and (max-width: 900px) {
  nav {
    grid-column: -2/2;
    grid-row: 2/3;
    position: sticky;
    background-color: darkseagreen;
  }
  nav ul {
    flex-flow:column nowrap;
  }
  
  
}
@media only screen and (max-width: 768px) {
  nav{
    grid-column: 1/-2;
    grid-row: 2/3;
    position: static;
    background-color: darkseagreen;
  }
#logo {
    display:none;
  }
  #hero{
    display: none;
  }
}